:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: auto;

}

.header_right {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: auto;
}

.example-card {
  max-width: 10rem;
}

.card_header {
  /* height: 4rem;
  width: 100%; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: .8rem;
  /* text-align: center; */
  background-color: #3f51b5;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;

}
.card_middle {
  display: inline-flex;
  width: 100%;
}
.no_forms {
  padding: .4rem .8rem;
}

.button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.project_title {
  width: 100%;
}
.cancel_btn {
  position: absolute;
  top: .5rem;
  right: .5rem;
}
